<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>FIKA | Admin Panel</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/light/assets/css/app.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/summernote/summernote-bs4.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/light/assets/css/style.css">
  <link rel="stylesheet" href="/light/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/light/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='https://FIKA.in/themes/leo_qos/assets/img/modules/appagebuilder/images/black-logo.png' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
            
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
       
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="/light/assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello Admin</div>
               <a href="/admin/change-password" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Change Password
            
              <div class="dropdown-divider"></div>
              <a href="/admin/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/"> <span
                class="logo-name">FIKA</span>
            </a>
          </div>
          <!-- <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="/light/assets/img/userbig.png">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">Sarah Smith</div>
              <div class="user-role">Administrator</div>
            </div>
          </div> -->
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="/admin/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
              <!-- <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="index.html">Dashboard V1</a></li>
                <li><a class="nav-link" href="index2.html">Dashboard V2</a></li>
              </ul> -->
            </li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Store Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/category">Category</a></li>
          
            
                <li><a class="nav-link" href="/purchase-product"> Product Details</a></li>
                <li><a class="nav-link" href="/purchase-product/manage"> Product Manager</a></li>

                <li><a class="nav-link" href="/photoshot"> Celebrity Closet</a></li>
                <li><a class="nav-link" href="/testimonials"> Testimonials</a></li>
                <li><a class="nav-link" href="/blog"> Editorial</a></li>
                <li><a class="nav-link" href="/size"> Size</a></li>
                <li><a class="nav-link" href="/coupon"> Coupon</a></li>

               




                <!-- <li><a class="nav-link" href="/product-quantity">Product Quantity</a></li> -->
                <!-- <li><a class="nav-link" href="/coupon">Coupon</a></li> -->
              </ul>
            </li>



            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Shipping</span></a>
              <ul class="dropdown-menu">
  
                <li><a class="nav-link" href="/country"> Country</a></li>
                <li><a class="nav-link" href="/state"> State</a></li>




                <!-- <li><a class="nav-link" href="/product-quantity">Product Quantity</a></li> -->
                <!-- <li><a class="nav-link" href="/coupon">Coupon</a></li> -->
              </ul>
            </li>

            <!-- <li class="dropdown">
                <a href="/time-slot" style="color: #2B9AEF;" class="nav-link"><i data-feather="monitor"></i><span>Time Slot</span></a>
              
              </li> -->



              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Orders</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="/order-history">History</a></li>
                  <li><a class="nav-link" href="/running-order">Running Order</a></li>
                  <li><a class="nav-link" href="/cancel-order">Cancel Order</a></li>
                 
                </ul>
              </li>





              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Banners</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="/banner">New Banner</a></li>
                
                 
                </ul>
              </li>




           



              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Cutomers</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="/customers">All Users</a></li>
                 
                  <!-- <li><a class="nav-link" href="/customers/location">Location Wise Users</a></li> -->

                 
                </ul>
              </li>



             



              <li class="dropdown">
                <a href="/website-customization"  class="nav-link"><i data-feather="monitor"></i><span>Page Customization</span></a>
                <!-- <ul class="dropdown-menu">
                  <li class="active"><a class="nav-link" href="index.html">Dashboard V1</a></li>
                  <li><a class="nav-link" href="index2.html">Dashboard V2</a></li>
                </ul> -->
              </li>

           




              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Reports</span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a class="nav-link" href="/purchase-report">Purchase Report</a></li> -->
                  <!-- <li><a class="nav-link" href="/sales-report">Sales Report</a></li> -->
                  <li><a class="nav-link" href="/stock-report">Stock Report</a></li>
                  <li><a class="nav-link" href="/date-wise-report">Date Wise Report</a></li>

                 
                </ul>
              </li>


              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Contact Report</span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a class="nav-link" href="/purchase-report">Purchase Report</a></li> -->
                  <!-- <li><a class="nav-link" href="/sales-report">Sales Report</a></li> -->
                  <li><a class="nav-link" href="/contact-report">Contact Report</a></li>
                 
                </ul>
              </li>



              <li class="dropdown">
                <a href="#" class="nav-link has-dropdown"><i data-feather="briefcase"></i><span>Support</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="/admin/support">Open Tickets</a></li>
            
              
                  <li><a class="nav-link" href="/admin/support-closed">Closed Tickets</a></li>
                
                 
  
  
  
  
                  <!-- <li><a class="nav-link" href="/product-quantity">Product Quantity</a></li> -->
                  <!-- <li><a class="nav-link" href="/coupon">Coupon</a></li> -->
                </ul>
              </li>
         
           
                
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>